.guide-card-container {
  max-width: 700px;
  margin: auto;
}

.guide-card {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $screen-sm) {
    flex-flow: column;
  }

  &-avatar{
    background-size: cover;
    text-align: center;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    // padding-bottom: 70px;

    .rating {
      padding-bottom: 35px;
    }

    @media (max-width: $screen-sm) {
      order: 2;
    }
  }
  &-bio{
    text-align: center;
    background-color: #3C3838;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $screen-sm) {
      order: 1;
    }

    .guide-card-row{
      h3 {
        color: $yellow-own;
        padding: 0px 0 5px 0;
      }
      .card-action-icons {
        .card-booking {
          a {
            height: 35px;
          }
        }
      }
      .guide-card-bio-description{
        color: white;
        padding: 22px 30px 10px 30px;
        opacity: 0.7;
        font-size: 13.5px;
        line-height: 2;
      }
      .guide-card-bio-hour-rate{
        color: #F6F6F6;
        font-weight: 600;
      }
    }
  }
}
.guide-card {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  &-about {
    background-color: white;
    padding: 20px 60px;
    h3 {
      color: $black-own;
      text-transform: uppercase;
      display: flex;
      flex-flow: column;
      align-items: center;
      background: #EFEFEF;
      padding: 10px 0;
      border-radius: 5px;
      font-size: 23px;
      i{
        font-size: 48px;
        padding: 10px;
      }
      span.hrs-left {
        padding: 10px;
      }
    }
  }
}
span.hrs-left {
  font-size: 16px;
  color: $black-own;
  font-weight: 400;
  margin-left: 10px;
  text-transform: none;
}

.guide-card {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  &-rating {
    background-color: white;
    padding: 6px 60px;
  }
}

.card-rating {
  color: white;
  opacity: 0.7;
}

.guide-card-tours {
 background-color: white;
 padding: 20px 60px;
}

.guide-card-tours h4{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  color: #c7c7c7;
}

.user-card-review {
  // background: white;
  display: flex;
  position: relative;
  margin: 20px 0 20px 0;
  &-profile{
    flex: 0 0 125px;
    padding: 10px;
  }
}

a.button-booking {
  margin-top: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  text-decoration: none;
  color: $yellow-own;
  display: block;
  background-color: #3C3838;
  font-weight: 400;
  transition: all ease 300ms;
  opacity: 1;
  width: 100px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  padding-top: 10px;
  &:hover {
    opacity: 0.9;
  }
}

.guide-card-tour {
  border-radius: 5px;
  padding: 30px 30px 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #F6F6F6;
  margin: 20px 0;
  i {
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex: 2;
    color: $yellow-own;
  }
  span {
    color: #C7C7C7;
    font-size: 14px;
    font-weight: 400;
  }
}

.flex-card-current-category {
 flex-direction: row;
 display: flex;
}

.flex-card-current-category h3 {
  flex:0 0 30%;
}

.flex-card-booking-about {
  display: flex;
  flex-flow: column;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 10px;
  justify-content: center;
}

.guide-card-booking {
  margin-top: 20px;
}

p.booking-description {
  padding: 0 15px 0 0;
  flex: 5;
}

a.button-checking {
 text-decoration: none;
 color: $yellow-own;
 display: block;
 font-weight: 400;
 transition: all ease 300ms;
 opacity: 1;
 background: #3B3737;
 border-radius: 5px;
 margin-left: 20px;
 display: flex;
 width: 80px;
 justify-content: center;
 padding-top: 10px;
 &:hover {
  opacity: 0.9;
}
}

.guide-card-avarage-rating {
  p.avarage-number {
    font-size: 27px;
  }
  h4 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 14px;
    opacity: .6;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}


.user-card-review > .arrow-left {
  position: absolute;
  top: 35px;
  right: 575px;
  z-index: 3;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid white;
}

.user-avatar-review-letter{
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    background: white;
    flex: 0 0 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
}

.user-card-comment-row {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  position: relative;
  .user-card-review-comment {
    display: flex;
    padding-left: 13px;
    flex: 1;
    align-items: center;
    background-color: white;
    p {
      color: $black-own;
      font-size: 14px;
      margin: 0;
    }
  }
  .user-card-review-comment-footer{
    background: whitesmoke;
    display: flex;
    padding: 10px 10px 10px 15px;
    p {
      font-size: 14px;
      margin: 0;
    }
    p.date{
      margin-left: auto;
    }
  }
}





