/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 body {
  position: relative;
}
.background {
 min-width: 100%;
 min-height: 100%;
 position: fixed;
 top: 0;
 left: 0;
 z-index: -1;
}

.banner-content {
  height: 50%;
  color: white;
  justify-content: space-around;
  align-items: center;
}