.body-bookings-visitor {
  background-color: $gray-lighter;
  height: 100vh;

}

.banner-bookings-visitor {
  // background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)), image_url("party_wallpaper.jpeg");
  // background-size: cover !important;
  background-color: rgba(0,0,0,0.2);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.booking-photo {
  border-radius: 50%;
  height: 100px;
  //width: 100px;
  border: 2px solid $gray-lighter;
  position: absolute;
  bottom: -50px;
  left: 20%;
}

.content-visitor {
  margin-top: 70px;
}

.card-bookings {
  background-color: white;
  padding: 20px;
}
