.body-bookings-visitor {
  // background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)), image_url("adventure.jpeg");
  // background-size: cover !important;
  // height: 30vh;
  // position: fixed;
}

.banner-bookings-visitor {
  // background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black-own;
  margin-top: 50px;
  position: relative;
  h1 {
    text-align: center;
  }
}

.booking-photo {
  border-radius: 50%;
  height: 100px;
  //width: 100px;
  border: 2px solid $gray-lighter;
  position: absolute;
  bottom: -50px;
  left: 20%;
}

.content-visitor {
  margin-top: 70px;
}

.card-bookings {
  background-color: white;
  padding: 20px;
}

.content-booking-visitor {
  margin-top: 30px;
}

.basic-bookings-card {
  margin-top: 100px;
}

.bookings-card {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 30px 0;
  position: relative
}

.bookings-photo {
  height: 80px;
  width: 80px;
  border-radius: 999px;
  border: 3px solid white;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 1;
}

.guide-name {
  position: absolute;
  top: -10px;
  left: 65px;
  color: $black-own;
  font-size: 16px;
  font-weight: bold;
}

.bookings-text {
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px 20px 45px;
  box-shadow: 7px 3px 15px rgba(0,0,0,0.1);
  div {
    padding: 5px 0;
  }
  i {
    padding-right: 5px;
    color: rgba(0,0,0,0.5);
  }
}

.status-booking {
  width: 150px;
  position: relative;
  background-color: $black-own;
  padding: 20px;
  padding-bottom: 30px;
  box-shadow: 7px 3px 15px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.price-info {
  i {
    font-size: 18px;
    color: rgba(255,255,255,0.5);
    top: 0;
    letter-spacing: -5px;
  }
  p {
    font-size: 40px;
    color: white;
    letter-spacing: -1px;
  }
}

#map{
  margin-top:-60px;
}

.icon-cancel-button {
  position: absolute;
  z-index: 1;
}

.icon-cancel-button-back {
  position: absolute;
}
