.body-form-new {
  .header-form {
    color: white;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    p {
      color: rgba(255,255,255,0.6);
      // text-transform: uppercase;

    }
  }
}

.banner-photo {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)), url("default-category.jpg");
  background-size: cover !important;
  min-height: 100vh;
}

.banner-photo-food {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)), url("food.jpg");
}

.banner-photo-sport {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)), url("active.jpg");
}

.banner-photo-party {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)), url("party.jpg");
}

.container-boeking {
  background-color: white;
  box-shadow: 4px 7px 3px rgba(0,0,0,0.1);
  border-radius: 7px;
  position: relative;
  padding-top: 25px;
  h2 {
    font-size: 20px;
  }
}

.guide-photo {
  height: 80px;
  border-radius: 999px;
  border: 3px solid white;
  position: absolute;
  top: -40px;
  right: 50%;
  margin-right: -40px;
}

.stars {
  position: absolute;
  top: -35px;
  right: 50%;
  margin-right: -135px;
  color: $yellow-own;
}

.form {
  padding: 30px;
  padding-top: 0;
}

.price {
  background-color: $yellow-own;
  height: 40px;
  width: 40px;
  border-radius: 999px;
  // border: 3px solid white;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -50px;
  z-index: 1;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
  line-height: 260%;
}

#booking_date_1i {
  flex: 1;
  margin-right: 10px;
}

#booking_date_2i {
  flex: 1;
  margin-right: 10px;
}

#booking_date_3i {
  flex: 1;
}

#booking_check_out_4i {
  flex: 1;
  margin-right: 10px;
}

#booking_check_out_5i {
  flex: 1;
  margin-left: 10px;
}

#booking_check_in_4i {
  flex: 1;
  margin-right: 10px;
}

#booking_check_in_5i {
  flex: 1;
  margin-left: 10px;
}

.form-inline {
  display: flex;
  align-items: center;
  margin: 0 0px;
}

#button-new-booking {
  margin-top: 20px;
}
