p.category-description {
  color: white;
  margin-bottom: 50px;
  font-size: 20px;
}

@keyframes fadeInSlow {
  0% {
    opacity: 0;
    transform: scale(1)
  }

  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

.wrapper-tours {
  position: relative;

  .category-banner {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)), url("travel.jpg");
    position: absolute;
    background-size: cover !important;
    top: 0;
    left: 0;
    right: 0;
    height: 367px;
    width: 100%;
    z-index: -3;

    opacity: 0;

    animation: fadeInSlow .3s .5s ease forwards;

    &-container {
      top: 0;
      left: 0;
      right: 0;
      height: 367px;
      position: fixed;
      background: #2B2B2B;
      overflow: hidden;
    }
  }

  .category-banner-bar {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)), url("travel.jpg");
  }

  .category-banner-cultural {

  }

  .category-banner-food {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)), url("food.jpg");
  }

  .category-banner-party {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)), url("party.jpg");
  }

  .category-banner-active {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)), url("active.jpg");
  }

  h1 {
    color: white;
  }
}

.tours-container {
  display: flex;
  align-items: flex-start;
}

.category-cards {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  flex: 0 0 250px;
  max-width: 250px;
}
.category-cards > .category-item {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  align-self: center;
  width: 125px;
  height: 125px;
  display: flex;
  position: relative;
  border: 3px solid #EEEEEE;
  background-size: cover;
  justify-content: center;
  align-items: center;

  .category-background-size{

  }
  &.category-item span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    flex-direction: column;
  }

  &.category-item-active span {
    background-color: $black-own;
  }

  &.category-item-party span {
    background-color: $black-own;
  }

  &.category-item-food span {
    background-color: $black-own;
  }

  &.category-item-bar span {
    background-color: $black-own;
  }
  &.category-item-cultural span {
    background-color: $black-own;
  }
  &.category-item-shopping span {
    background-color: $black-own;
  }

  span {
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    i {
      display: block;
      text-align: center;
      font-size: 36px;
      color: white;
    }

  }
  .gradient-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%);
    opacity: 0;
    z-index: 2;
    &:active{
      opacity: 0.5;
    }
    &:hover {
     opacity: 0.5;
   }
 }
}


.flex-1 {
  flex: 1;
}

.profiles-container {
  flex: 1;
  max-width: 600px;
  width:100%;
  margin: 0 auto;
}

.card-position {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  position: relative;
}

.card-profile {
  display:flex;
  background-color: #3C3838;
  img {
    width: 110px;
    align-self: center;
  }
  .card-who{
    display: flex;
    align-items: center;
    flex:0 0 50%;
    padding: 0 20px;
    p.card-name {
      font-weight: 600;
      a {
        color: $yellow-own;
      // color: black;
    }
  }
  p.card-rating {
    color: #DEDFE1;
  }
}

.card-action-icons {
  display: flex;
  flex-flow: column;
  flex: 1;
  .card-action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 29%;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 30%;
      i {
        font-size: 20px;
      }
    }
  }
}
}

.card-action-icons > .card-action {
  flex: 1;
}

.card-action-icons {
  justify-content: center;
  align-items: center;
  display: flex;
}

.card-booking {
  flex: 0 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    align-self: stretch;
    display: flex;
    align-items: center;
    background: #423E3E;
    color: $yellow-own;
    flex: 0 0 60px;
    justify-content: center;
    text-decoration: none;
    opacity: 1;
    -webkit-transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -ms-transition: all ease 300ms;
    -o-transition: all ease 300ms;
    transition: all ease 300ms;
    &:hover {
      font-size: 18px;
      opacity: 0.5;
    }
  }
}

.card-position > .arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: 100px;
  left: 44px
}
.card-padding {
  padding: 20px 20px 10px 20px;
  background-color: white;
  margin-bottom: 40px;
}

.card-padding > p {
  font-size: 15px;
}


@media all and (min-width: 1150px) and (max-width: 1300px) {

  .category-cards > .category-item {
    width: 150px;
  }
}

@media all and (min-width: 0px) and (max-width: 1149px) {

 .add-media-flex {
  flex: 1;
}

.category-cards {
  flex-direction: column;
  flex: 0 0 150px;
  max-width: 600px;
  width: 100%;
}

.tours-container {
  display: block;
}

.category-cards {
  margin: 0 auto;
  flex-direction: row;
  margin-bottom: 40px;
}

.category-cards > .category-item {
  flex: 0 0  50%;
}
}

@media all and (min-width: 0px) and (max-width: 725px) {

 .card-profile > .card-who {
  flex:0 0 45%;
}
}

@media all and (min-width: 0px) and (max-width: 570px) {

  .card-profile > .card-who {
    flex: 1;
  }

  .card-profile > .card-action {
    display: none;
  }

  .main-container {
    width: 90%;
  }
}




