<div class="text-center">
  <h1>Visitor Bookings Show</h1>

  <p><strong><%= @booking.guide.first_name %> <%= @booking.guide.last_name %></strong></p>


</div>
<%#= link_to "Cancel booking", cancel_visitor_booking(@booking), method: :patch, class: "btn btn-primary"%>

