<div class="body-form-new">
  <div class="<%= tour_banner_css_class(@tour) %>">
    <%= render "shared/navbarspace" %>
    <%= render "bookings/newlayout" %>
    <%= render "shared/footerspace" %>
  </div>
</div>
