<div class="footer">
  <%= link_to root_path do %>
  <div class="cube">
    <h2>48</h2>
  </div>
  <% end %>
  <div class="links-footer">
    <p>About | Contact | Location</p>
  </div>
  <div class="made-footer">
    <p>made by: Quoc, Blane and tim</p>
  </div>
</div>

