

<div class="main-container">
  <h1>Tours Index</h1>


  <div class="tours-container">

    <div class="media-flex-1">
      <div class="category-cards">
        <div class="category-item" style="background: url('http://unsplash.it/150/125')">
            <p> Food </p>
          <a href="" class="gradient-link"> </a>
        </div>

        <div class="category-item" style="background: url('http://unsplash.it/150/125')">
            <p> Food </p>
          <a href="" class="gradient-link"> </a>
        </div>

        <div class="category-item" style="background: url('http://unsplash.it/150/125')">
            <p> Food </p>
          <a href="" class="gradient-link"> </a>
        </div>

        <div class="category-item" style="background: url('http://unsplash.it/150/125')">
            <p> Food </p>
          <a href="" class="gradient-link"> </a>
        </div>

      </div>
    </div>


    <div class="flex-1">
      <div class="profiles-container">

        <div class="card-position">
         <div class="card-profile">
           <a href=""><img src="http://unsplash.it/125/125" alt=""></a>
           <div class="card-who">
            <div>
              <p class="card-name"><a href="">K M Rakibul Islam (Rakib)</a></p>
              <p class="card-rating">5.0 ★★★★★</p>
            </div>
          </div>

          <div class="card-action-icons">
            <div class="card-booking">
              <a href=""><i class="fa fa-phone"></i></a>
              <a href=""><i class="fa fa-envelope"></i></a>
            </div>
          </div>
        </div>

        <div class="card-padding">
          <p class="description">Top Ruby on Rails Mentor of January-February-March | Experienced (5 years) Ruby on Rails Developer (with passion for helping others learn)</p>
        </div>
        <div class="arrow-up"></div>
      </div>



      <div class="card-position">
       <div class="card-profile">
          <a href=""><img src="http://unsplash.it/125/125" alt=""></a>
         <div class="card-who">
          <div>
            <p class="card-name"><a href="">K M Rakibul Islam (Rakib)</a></p>
            <p class="card-rating">5.0 ★★★★★</p>
          </div>
        </div>

        <div class="card-action-icons">
          <div class="card-booking">
            <a href=""><i class="fa fa-phone"></i></a>
            <a href=""><i class="fa fa-envelope"></i></a>
          </div>
        </div>
      </div>

      <div class="card-padding">
        <p class="description">Top Ruby on Rails Mentor of January-February-March | Experienced (5 years) Ruby on Rails Developer (with passion for helping others learn)</p>
      </div>
      <div class="arrow-up"></div>
    </div>

  </div>

</div>

</div>



</div>

