<div class="banner-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title-container">
          <div>
          <h1>What are your next 48hrs</h1>
          </div>
          <%= link_to "categories", tours_path, { :class=>"category-button btn"} %>
        </div>
      </div>
    </div>
  </div>
</div>


