<div class="banner">
  <%= render "shared/navbarspace" %>
  <div class="banner-container center-block">
    <%= image_tag("48hrs_logo_white", :class => "banner-logo img-responsive") %>
    <h1>to be one of the locals</h1>
    <%= link_to "start adventure", tours_path, { :class=>"category-button btn"} %>
  </div>
</div>

<div class="howitworks">
  <div class="howitworks-container center-block">
    <div class="row">
      <div class="col-md-6 block">choose category</div>
      <div class="col-md-6"><img src="http://placehold.it/250x250"></div>
    </div>
    <div class="row">
      <div class="col-md-6"><img src="http://placehold.it/250x250"></div>
      <div class="col-md-6 block">choose guide</div>
    </div>
    <div class="row">
      <div class="col-md-6 block">contact guide</div>
      <div class="col-md-6"><img src="http://placehold.it/250x250"></div>
    </div>
    <div class="row">
      <div class="col-md-6"><img src="http://placehold.it/250x250"></div>
      <div class="col-md-6 block">created awesome journey</div>
    </div>
  </div>
</div>
