<div class="banner">
  <%= render "shared/navbarspace" %>
  <div class="banner-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
          <%= image_tag "logo-white.png", class: "banner-logo" %>
          <h1>
            Be one of the locals in
            <b>Amsterdam</b>
            <div>
              <%= link_to "start adventure", tours_path, class: "start-button" %>
            </div>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
