<div class="banner-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title-container">
          <div>
          <h1>What are your next <b>48hrs</b> !</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
