<div class="banner">
  <%= render "shared/navbarspace" %>
  <div class="banner-container center-block">
    <%= image_tag "48hrs_logo_white", class: "banner-logo img-responsive" %>
    <h1>to be one of the locals</h1>
    <%= link_to "start adventure", tours_path, class: "category-button btn"  %>
  </div>
</div>

<!-- <div class="howitworks">
  <div class="howitworks-content">
    <div class="row row-centered">
      <div class="col-xs-6 col-centered col-fixed">
        <div class="item">
          <div class="content">
            <img src="http://placehold.it/250x250">asd
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-centered col-fixed">
        <div class="item">
          <div class="content">
            <img src="http://placehold.it/250x250">
          </div>
        </div>
      </div>
    </div>
    <div class="row row-centered">
      <div class="col-xs-6 col-centered col-fixed">
        <div class="item">
          <div class="content">
            <img src="http://placehold.it/250x250">
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-centered col-fixed">
        <div class="item">
          <div class="content">
            <img src="http://placehold.it/250x250">
          </div>
        </div>
      </div>
    </div>
    <div class="row row-centered">
      <div class="col-xs-6 col-centered col-fixed">
        <div class="item">
          <div class="content">
            <img src="http://placehold.it/250x250">
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-centered col-fixed">
        <div class="item">
          <div class="content">
            <img src="http://placehold.it/250x250">
          </div>
        </div>
      </div>
    </div>
    <div class="row row-centered">
      <div class="col-xs-6 col-centered col-fixed">
        <div class="item">
          <div class="content">
            <img src="http://placehold.it/250x250">
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-centered col-fixed">
        <div class="item">
          <div class="content">
            <img src="http://placehold.it/250x250">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->
