.devise-form {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)), url("city.jpg");
  background-size: cover !important;
  min-height: 100vh;
  background-position: center center;
  h2 {
    color: white;
    text-align: center;
  }
}

.input-form {
  background-color: rgba(255,255,255,1);
  // border: 2px solid white;
  padding: 30px 20px 30px 20px;
  box-shadow: 4px 7px 3px rgba(0,0,0,0.1);
  border-radius: 7px;
  margin-bottom: 30px;
}

.signup_links {
  display: flex;
  justify-content: row;
}

.sign-up-link {
  color: white;
  // text-transform: uppercase;
  font-size: 15px;
  padding-left: 20px;
}

.sign-in-link {
  color: white;
  // text-transform: uppercase;
  font-size: 15px;
  padding-left: 20px;
}

.password-link {
  color: white;
  // text-transform: uppercase;
  font-size: 15px;
  padding-left: 20px;
}

.login-link {
  color: white;
  // text-transform: uppercase;
  font-size: 15px;
  padding-left: 20px;
}

.login-link:hover {
  color: #F7DB61;
  text-decoration: none;
}

.sign-up-link:hover {
  color: #F7DB61;
  text-decoration: none;
}

.sign-in-link:hover {
  color: #F7DB61;
  text-decoration: none;
}

.password-link:hover {
  color: #F7DB61;
  text-decoration: none;
}

.facebook-link {
  color: white;
  font-size: 15px;
  padding-left: 20px;
}

.facebook-link:hover {
  color: #F7DB61;
  text-decoration: none;
}

