/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border: 0;
}
.alert-info {
  background: $yellow-own;
  color: $black-own;
  // position: absolute;
}
.alert-warning {
  background: #D9534F;
  // position: absolute;
}
