.header-line {
  height: 3px;
  width: 80px;
  background-color: black;
  margin-bottom: 30px;
  margin-top: 15px;
  margin: 0 auto 30px auto;
}

.header-line-white {
  height: 3px;
  width: 80px;
  background-color: rgba(255,255,255,0.4);
  margin-bottom: 30px;
  margin-top: 15px;
  margin: 0 auto 30px auto;
}

.button-photo {
  border: 2px solid white;
  color: white;
  padding: 5px 8px;
  margin: 10px 10px;
  text-transform: uppercase;
}

.button-photo:hover {
  color: white;
  text-decoration: none;
  transition: background-color 600ms ease;
}

.cube {
  background-color: white;
  height: 50px;
  width: 50px;
  transform: rotate(45deg);
  position: absolute;
  top: -25px;
  right: 50%;
  margin-right: -25px;
  h2 {
    transform: rotate(-45deg);
    color: black;
    font-size: 30px;
    text-align: center;
    line-height: 8%;
    font-weight: bold;
  }
}

