.header-line {
  height: 3px;
  width: 100px;
  background-color: black;
  margin: 15px auto 30px auto;
}

.header-line-white {
  height: 2px;
  width: 80px;
  background-color: rgba(255,255,255,0.4);
  margin-bottom: 30px;
  margin-top: 15px;
  margin: 0 auto 30px auto;
}

.button-photo {
  border: 0.5px solid white;
  color: white;
  padding: 10px 20px;
  margin: 10px 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.button-photo:hover {
  color: black;
  background-color: white;
  text-decoration: none;
  // transition: background-color 600ms ease;
}

.cube {
  background-color: $black-own;
  height: 30px;
  width: 30px;
  transform: rotate(45deg);
  position: absolute;
  bottom: -15px;
  right: 50%;
  margin-right: -15px;
}

.space-navbar {
  height: 100px;
}

.space-footer {
  height: 100px;
}

.flash-space {
  height: 150px;
}

.profile-page-photo {
  height: 100px;
  width: 100px;
  border-radius: 999px;
}

.cancel-button {
  color: #d9534f;
  position: absolute;
  background-color: $gray-lighter;
  padding: 4px 10px;
}

.cancel-button:hover {
  color: #d9534f;
  text-decoration: none;
}


