<div class='guide-card-container'>
  <div class="guide-card">
    <div class="guide-card-avatar" style="background: url('http://placehold.it/250x250')">
      <div class="guide-card-booking">
        <p class="rating">
          <% 3.times do %>
          <i class="fa fa-star"></i>
          <% end %>
          <% 2.times do %>
          <i class="fa fa-star-o"></i>
          <% end %>
        </p>
        <a class="button-booking" href=""><p>booking</p></a>
      </div>
    </div>
    <div class="guide-card-bio">
      <div class="guide-card-row">
        <h3><%= guide.first_name %> <%= guide.last_name %> </h3>
        <div class="card-action-icons">
          <div class="card-booking">
            <a href=""><i class="fa fa-phone"></i></a>
            <a href=""><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <p class="guide-card-bio-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus porro repellat reiciendis similique quidem unde harum rerum excepturi cupiditate temporibus?</p>
        <p class="guide-card-bio-hour-rate"> $ 10 /h</p>
      </div>
    </div>
  </div>




        <div class="guide-card-information">
          <div class="guide-card-about">
            <h2>About me</h2>
            <p>I am a Software Engineer from Toronto, currently working as a Ruby on Rails Developer at theScore Inc. I am passionate about helping people, especially who are new to the web development and the programming world. I am specialized in explaining core concepts of Ruby and Rails along with the best practices. I focus on the learning experience of my students and make sure they get

            </p>
          </div>
        </div>

        <div class="guide-card-rating text-center">
         <hr>
         <div class="guide-card-avarage-rating">
          <h4>Average Rating</h4>
          <p class="avarage-number"> 5.0</p>
          <p>★ ★ ★ ★ ★   152 ratings</p>
        </div>
      </div>



        <div class="user-card-review">
          <div class="arrow-left"></div>
          <div class="user-card-review-profile">
            <div class="user-avatar-review-letter"><span>S</span></div>
          </div>
          <div class="user-card-comment-row">
           <div class="user-card-review-comment">
            <p>Was a very helpfull session, straight to the point of what I need! Thanks!</p>
          </div>
          <div class="user-card-review-comment-footer">
            <p>Susan</p>
            <p class="date">Mar 24, 2016</p>
          </div>
        </div>
  </div>
</div>
